/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 40px 1fr 80px;
  width: 100%;
}

/*
 * Header
 */
.masthead {
  width: 100%;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media (max-width: 1600px) {
  .lead {
    font-size: 0.75rem;
  }
  .mixplaytitle {
    font-size: 1rem;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  width: 100%;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.cover-heading {
  margin-bottom: 30px;
}

.maincontainer {
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center;
  align-items: center; */
  width: fit-content;
}
.logging-section {
  display: flex;
  flex-direction: column;

  align-items: center;
}

/*
 * Footer
 */
.mastfoot {
  width: 100%;
  text-align: center;
  display: inline-block;

  color: rgba(255, 255, 255, 0.5);
}

.loading {
  border-width: 1px;
}

#selectmixplay {
  width: 100%;
}

.mixplay {
  max-width: 766px;
  cursor: pointer;
  margin: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  display: grid;
  grid-template-columns: 226px 1fr;
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background: #262727;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mixplay img {
  border-radius: 10px;
  width: 226px;
}

#mixplaycontrols {
  max-height: 80%;
}
.mixplayinfo {
  position: relative;
  padding-bottom: 35px;
}

.mixplay:hover {
  border-color: yellow;
}
.mixplaygrid {
  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.mixplaytitle {
  font-size: 2rem;
  font-weight: 2;
}

.mixplaystat {
  position: absolute;
  bottom: 0;
  right: 0;
  color: bisque;
  font-size: 1em;
}

.mps-usage {
  color: white;
}

.follow {
  color: white;
  background: rgb(0, 111, 217);
  border-radius: 2px;
}

.rememberedname {
  font-weight: bold;
}

#remembered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-fit-content {
  width: fit-content;
}
